<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- 配置 SpringMVC -->

    <!-- 1. 开启 SpringMVC 注解模式 -->
    <mvc:annotation-driven/>

    <!-- servlet mapping 映射路径："/" -->
    <!-- 静态资源默认servlet配置
            加入对静态资源的处理，
            允许使用 "/" 做映射
     -->
    <mvc:default-servlet-handler/>


    <!-- 3. 配置 JSP 显示 ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 4. 扫描 WEB 相关的 bean -->
    <context:component-scan base-package="com.tazine.seckill.web"/>



</beans>